@page
@model Lab5.Pages.Predictions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prediction[0].FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prediction[0].Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prediction[0].Question)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Prediction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PredictionId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PredictionId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PredictionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
